body{
    background-color: rgb(2, 2, 8);
}
.p{
    background: rgb(187, 187, 197);
    width: 60vh;
    height: 90vh;
    padding: 50px;
}
img{
    width: 40vh;
    height: 40vh;
    border-radius: 100vh;
    text-align: center;
}
h1.p{
    color: rgb(248, 246, 242);
}
.y{
    display: flex;
}
.t{
    background-color: rgb(243, 224, 138);
    width: 130vh;
    padding: 60px;
    text-align: center;
}


 